@import url("./rootstyle.css");

/* Scroll Behavior */

html {
  scroll-behavior: smooth;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
/* KeyFrames Animation Start */
@keyframes linkAnimate {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
/* KeyFrames Animation End */
/* Color Start */
.re {
  color: #ff1601;
}

/* Color End */
/* Common Styling */
.lt-2 {
  letter-spacing: 3px;
  line-height: 2em;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -3px 5px 5px 6px rgba(0, 0, 0, 0.1);
}
.blc {
  display: block;
}
.gre {
  color: #666666;
}
.blu {
  color: #24a0ed;
}
.bo-b {
  border-bottom: 1px solid #ececec;
}
.img-c50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.img-40 {
  width: 40px;
  height: 40px;
}
.img-c40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.img-c30 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-bg {
  background-color: rgba(34, 34, 34, 5%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #cccccc;
}
.circle.active {
  background-color: #111111;
}
.la-child:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.img-box {
  width: 400px;
  height: 400px;
  background-color: rgba(34, 34, 34, 5%);
}
.img-box img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.und {
  position: absolute;
  background-color: #111111;
  height: 4px;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s ease-in-out;
}
.tex-sec {
  font-size: 16px;
  color: #999999;
}
.tex-sec.active {
  color: #111111;
}
.category-img-box {
  width: 100%;
  height: 300px;
  background-color: rgba(34, 34, 34, 5%);
}
.category-img-box img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}
.top-right svg path {
  fill: #222222;
  stroke: #222222;
}
.cart-icon-bar {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #222222;
  text-align: center;
  padding: 5px 10px;
}
.cart-icon-bar.active {
  display: block;
}
.buy-product-box {
  height: 500px;
  background-color: rgba(34, 34, 34, 5%);
  align-items: center;
  justify-content: center;
}
.buy-product-box img {
  width: 100%;
  height: 100%;
}
/* Common Styling End */
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  letter-spacing: 2px;
}

button {
  width: fit-content;
  padding: 10px 50px;
  border: 1px solid #111111;
  border-radius: 20px 0px 20px 0px;
  color: #111111;
  font-size: 16px;
  background: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
button:hover {
  background-color: #111111;
  color: #ffffff;
}
input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px 10px 10px;
  border: 1px solid #ececec;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  resize: none;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 1px 1px 1px 2px rgba(0, 123, 255, 0.2),
    inset -1px -1px 1px 2px rgba(0, 123, 255, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  border: none;
}
a:-webkit-any-link {
  text-decoration: none;
}
.error-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  background-color: rgba(34, 34, 34, 0.3);
  padding: 15px 30px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: all 0.3s ease-in-out;
}
.h-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  filter: brightness(85%);
  backdrop-filter: brightness(85%);
}
.logo-block {
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  width: fit-content;
  padding: 15px 20px;
  cursor: pointer;
}
.menu-bar {
  display: none;
}
header nav span {
  color: #cccccc;
  position: relative;
}
header nav span:hover {
  color: #ffffff;
}
header nav span.active {
  color: #ffffff;
}
header nav .ln-tx.active::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 4px;
  border-radius: 0px 0px 8px 0px;
  background-color: #ffffff;
  animation: linkAnimate 0.3s linear forwards;
}
header .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
}
header .circle.active {
  background-color: #323131;
}
header .h-btn {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
}
header .h-carousel-image {
  height: 400px;
  box-sizing: border-box;
  width: 100%;
}
header .h-icons.active svg path,
header .h-icons svg:hover path {
  fill: #666666;
  stroke: #666666;
}
.hgt-scroll {
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.cart-scroll {
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.hgt-scroll::-webkit-scrollbar,
.cart-scroll::-webkit-scrollbar {
  display: none;
}
footer {
  background-color: #000000;
}
.parent-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent-spinner .spinner {
  width: 30px;
  height: 30px;
  border: 10px dotted #ff1601;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fix-center {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fix-center .fix-center-card {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 7px;
  background-color: #16c60c;
  font-size: 16px;
  color: #ffffff;
}
.fix-center .fix-center-card.danger {
  background-color: #ff1601;
}
.user-info {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Responsive Design */
@media (max-width: 1536px) {
  .mb-c {
    width: 40%;
  }
}
@media (max-width: 1280px) {
  header nav {
    grid-template-columns: 1fr 3fr;
  }
  header nav .menu-grid {
    grid-template-columns: 1.5fr 1fr;
  }
  .mob-content .w40 {
    width: 30%;
  }
  .mob-content .w50 {
    width: 65%;
  }
  .tab-bar {
    width: 50%;
  }
  .tab-row {
    grid-template-columns: repeat(3, 1fr);
  }
  .mob-wid-1280 {
    width: 80%;
  }
  .mob-wid-1280 .w40.col.gp-40 {
    width: 50%;
  }
  .mob-col-1280 {
    flex-direction: column;
    gap: 30px;
  }
  .w100-1280 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .mb-c {
    width: 50%;
  }
  .mob-content {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .mob-content .w40,
  .mob-content .w50 {
    width: 100%;
  }
  .mob-content .w40 {
    text-align: center;
  }
  .mob-content .w40 .g3.wf.gp-30.mb30 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-content .tx-e {
    text-align: start;
  }
  .row-sc .img-box {
    width: 300px;
    height: 300px;
  }
  .tab-bar {
    width: 60%;
  }
  .mob-wid-1280 {
    width: 90%;
  }
  .mob-wid-1280 .w40.col.gp-40 {
    width: 55%;
  }
}
@media (max-width: 768px) {
  header nav .menu-grid {
    display: none;
  }
  header nav .menu-bar {
    display: block;
  }
  header nav .menu-grid.active {
    display: flex;
    flex-direction: column;
    order: 3;
    align-items: start;
    margin-top: 30px;
    width: 100%;
  }
  header nav .menu-grid.active .ln-row {
    flex-direction: column;
    gap: 30px;
  }
  header nav .menu-grid.active .header-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .mb-c {
    width: 60%;
  }
  .mob-content {
    width: 90%;
  }
  .row-sc .img-box {
    width: 250px;
    height: 250px;
  }
  .mob-col-768 {
    flex-direction: column;
    gap: 20px;
  }
  .mob-wid-1280 {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .mob-wid-1280 .w40.w40.col.gp-40,
  .mob-wid-1280 .buy-product-box.w40 {
    width: 100%;
  }
  .tab-bar {
    width: 100%;
  }
  .tab-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .mb-c {
    width: 70%;
  }
  .mob-col {
    flex-direction: column;
  }
  .mob-content {
    width: 95%;
  }
  .w90-600 {
    width: 90%;
  }
}
@media (max-width: 480px) {
  header nav {
    width: 95% !important;
    border-radius: 0px;
    padding: 5px;
  }
  .mb-c {
    width: 80%;
  }
  .tab-bar .tex-sec {
    font-size: 12px;
  }
  .tab-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 414px) {
  .mb-c {
    width: 90%;
  }
}
/* Media Responsive Design End */
